<div class="container">
    <div class="row justify-content-center">
        <button>
            <a href="/">
                <p class="shadow text1" style="width: 580px; height:6rem; font-size:3rem;"><i
                        class="fas fa-gamepad"></i>
                    <u>Back To
                        Main
                        Page</u>
            </a>
            </p>
        </button>
        <img class="img-fluid port-image" src="/assets/img/mouseclick..gif" alt="" width="600">
        <p> <u>Click</u> mouse to jump. That's it! Pretty simple right?</p>
    </div>