<body>
    <div class="container">
        <div class="row">
            <div id="game-screen">
                <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
                <script src="/assets/js/phaser.min.js"></script>
                <script src="/assets/js/game.js"></script>
                <h1><u>My Score:<span id="coinCollected">0</span></u></h1>
            </div>
        </div>
    </div>
</body>