<div class="container">
    <h2>Best Score</h2>
    <br />
    <div id="bestTime"></div>
    <hr />
</div>
<script type="text/javascript" src="/assets/js/highscore.js"></script>

<br>
<div class="row">

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">

        <h1 id="leaderboard-title" align="center"><u>Leaderboard</u></h1>
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>
        <button>
            <a href="/">
                <p class="shadow text1" style="width: 150px; height:6rem; font-size:2rem;"><i
                        class="fas fa-gamepad"></i>
                    <u>Back To
                        Main
                        Page</u>
            </a>
            </p>
        </button>
    </div>
    <div class="col-sm-2">
    </div>
    <script src="js/highscore.js"></script>