<div class="container">
    <div class="overlay">
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <ui>
                        <li>
                            <button>
                                <p class="shadow text1"> <i class=" fas fa-briefcase-medical"></i>Start!<i
                                        class="fas fa-briefcase-medical"></i>
                        </li>
                        </button>
                        <li>
                            <button>
                                <p class="shadow text1"><i class="fas fa-gamepad"></i> Controls <i
                                        class="fas fa-gamepad"></i>
                                </p>
                        </li>
                        </button>
                        <li>
                            <button>
                                <p class="shadow text1"><i class="fas fa-trophy"></i> Highscores <i
                                        class="fas fa-trophy"></i>
                                </p>
                        </li>
                        </button>
                    </ui>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h1>
                        <p class="shadow text1">
                            <u>Corona</u>
                        </p>
                    </h1>
                    <h1>
                        <p class="shadow text1">
                            <img src="/assets/js/pill.png" class="img-fluid" alt="Responsive image" width="100">
                            <u>Adventures<img src="/assets/js/pill.png" class="img-fluid" alt="Responsive image"
                                    width="100"></u>
                        </p>
                    </h1>
                </div>

            </div>