<div class="input-group flex-nowrap justify-content-center">
    <div class="input-group-prepend">
        <div class="center-outer">
            <div class="center-inner">
                <div class="bubbles">
                    <h1 style="color: grey;"><u>Enter Your Username Below</u></h1>
                </div>
            </div>
        </div>
    </div>

</div>
<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"
    style="width: 500px;">
<div class="input-group flex-nowrap justify-content-center">
    <button>
        <a href="/game">
            <p class="shadow text1"> <i class=" fas fa-briefcase-medical"></i> <u>Start</u> </li>
        </a>
        </p>
    </button>
</div>