h1 {
  visibility: visible;
}
.h1,
h1 {
  font-size: 3rem !important;
}
/* .img-fluid {
  padding-left: 525px;
  margin-bottom: -150px;
} */
.nav-link {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  padding-left: -15px;
}

.fab {
  border-block-end-style: ridge;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding-top: 230px;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
li {
  list-style-type: none;
  margin: 1em 0;
}
button {
  background-color: orangered;
  color: white;
  font-size: 25px;
  display: flex;
  border-style: ridge;
  border-width: 5px;
  justify-content: center;
  align-items: center;
  visibility: visible;
  padding-top: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body,
html {
  height: 100%;
}
body {
  background-image: url("/assets/img/cityscape.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  color: #fff;
  font-family: "LuckiestGuy", cursive;
  font-weight: bold;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.text1 {
  font-size: 60px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1 {
  border-style: ridge;
  border-width: 5px;
  fill: orange;
  position: relative;
  margin: 1em 0 0;
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  z-index: 2;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}
