h1 {
  visibility: visible;
}
.h1,
h1 {
  font-size: 4rem !important;
}
.nav-link {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  padding-left: -15px;
}
.form-control {
  margin-top: 10px !important;
  margin-left: 430px !important;
  height: 100px !important;
  font-size: 20px !important;
}
.input-group {
  padding-top: 10px;
}

.fab {
  border-block-end-style: ridge;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding-top: 165px;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
li {
  list-style-type: none;
  margin: 1em 0;
}
.btn-danger {
  visibility: visible;
}
a {
  color: white !important;
}
element.style {
  width: 700px !important;
  height: 367.691px;
}
button {
  background-color: orangered;
  font-size: 25px;
  display: flex;
  border-style: ridge;
  border-width: 5px;
  justify-content: center;
  align-items: center;
  visibility: visible;
  padding-top: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body,
html {
  height: 100%;
}
body {
  background-image: url("/assets/img/cityscape.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: visible;
}
.img-fluid {
  visibility: visible;
  max-width: 1000px !important;
}
p {
  visibility: visible;
  color: white;
  font-size: 3rem;
}

.shadow {
  color: #fff;
  font-family: "LuckiestGuy", cursive;
  font-weight: bold;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.text1 {
  font-size: 60px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  visibility: visible;
}

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
  visibility: visible;
}

.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  z-index: 2;
  visibility: visible;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
  visibility: visible;
}
